{% extends 'layout.html.twig' %}

{%- block title -%}Connexion{%- endblock -%}
    
{% block body %}
<div class="pt-4 container">
	<div class="wrap shadow">
		<div class="header-title">
			<span class="title">
				Connectez vous !
			</span>
		</div>
		<form method="post">
			<div>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="mb-2 wrap-input">
					<label class="label-input required" for="inputUsername">Nom d'Utilisateur</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="input" placeholder="Entrez votre nom d'utilisateur" required autofocus>
					<span class="focus-input"></span>
				</div>
				<div class="mb-2 wrap-input">
					<label class="label-input required" for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="input" placeholder="Entrez votre mot de passe" required>
					<span class="focus-input"></span>
				</div>
				<input type="hidden" name="_csrf_token"
		           	   value="{{ csrf_token('authenticate') }}"
		    	>
				<div class="mt-4 container-form-btn">
					<button type="submit" class="form-btn">Connexion</button>
					<div class="mt-2 d-flex flex-column">
						<a href="#" class="action-link">
							Mot de passe oublié?
						</a>
						<a href="{{ path('app_register') }}" class="action-link">
							Je suis nouveau !
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
