<div class="mt-4 access-infos d-flex flex-column align-items-center text-primary-dark">
    <p class="m-0"><span class="bold"><i class="fas fa-map-marker-alt"></i> Olivet</span></p>
    <p class="m-0">Au <span class="bold">Foyer des seniors</span></p>
    <p>À coté de la piscine du <span class="bold">Parc du Poutyl</span></p>
    <iframe class="mb-4 rounded shadow w-100"
            src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1892.6575789697233!2d1.8960614215728426!3d47.866283208182985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d47.866582199999996!2d1.8959099!5e0!3m2!1sfr!2sfr!4v1589016999101!5m2!1sfr!2sfr"
            height="330" frameborder="0" aria-hidden="false"
            tabindex="0">
    </iframe>
</div>
