<div class="home-info-contact text-secondary mt-4">
    <p><i class="fas fa-phone-alt"></i> <span class="bold">Lalie</span> : <span class="text-primary-dark">06 16 56 94 69</span></p>
    <a href="" class="btn btn-outline-secondary px-5"><i class="far fa-lg fa-envelope"></i> Par email</a>
</div>
