<div class="home-info-contact text-secondary">
    <p class="mt-3 text-primary-dark"><i class="mr-1 fas fa-phone-alt"></i> <span class="bold">Lalie: </span>06 16 56 94 69</p>
    <a href="" class="px-5 mb-1 btn btn-secondary text-primary-dark bold border-light"><i class="far fa-lg fa-envelope mr-2 text-primary-dark"></i> Par email</a>
</div>
