<div class="home-info-contact text-secondary">
    <a href="" class="mt-3 btn btn-outline-secondary px-5"><i class="far fa-lg fa-envelope mr-2"></i> Par email</a>
    <p class="mt-3"><i class="mr-2 fas fa-phone-alt"></i> <span class="bold">Lalie</span> : <span class="text-primary-dark">06 16 56 94 69</span></p>
</div>
