{% set nbMax = 6 %}

{% for i in 0..nbMax %}
    <div class="card text-primary-dark text-nowrap mt-4 shadow">
        <div class="card-header p-1">
            <div class="event-info-header d-flex justify-content-between">
                <p class="m-0 ml-2 badge text-light badge-{{ i % 2 == 0 ? 'warning':'success' }}">
                    {{ i % 2 == 0 ? 'Jeux de Plateau':'Mah-Jong' }}
                </p>
                <p class="m-0 mr-2">8 Mai 2020 à 18:00</p>
            </div>
            <p class="bold m-0">Donjon & Dragon : Vous allez mourrir !</p>
        </div>
        <div id="body-event{{ loop.index }}" class="collapse">
            <p class="m-3 event-short-desc text-wrap">Il est pas une activité improductive, ni celui qui cherche profit
                pour une épargne excédentaire au-delà de la satisfaction de ces besoins
                Chaque conférence populaire de base choisit son secrétariat
                Tout système de gouvernement contraires à cette méthode, la méthode des conférences populaires, est
                antidémocratique.
            </p>
            <div class="info-body-event d-flex justify-content-between">
                <p class="m-0 ml-3"><i class="fas fa-home"></i> Foyer des Seniors</p>
                <p class="m-0 mr-3"><i class="fas fa-users"></i> 4 place(s) restantes</p>
            </div>
            <a href="" class="btn btn-outline-secondary m-3">Je m'inscris !</a>
        </div>
        <div class="see-more card-footer btn text-center text-light bg-primary" data-toggle="collapse"
             data-target="#body-event{{ loop.index }}">
            Voir
        </div>
    </div>
{% endfor %}

