{% set nbMax = 4 %}

{% for i in 0..nbMax %}
    <div class="card text-primary-dark text-nowrap mt-4 shadow">
        <div class="card-header p-1">
            <div class="event-info-header d-flex justify-content-between">
                <p class="m-0 badge badge-{{ i % 2 == 0 ? 'danger':'success' }}">
                    {{ i % 2 == 0 ? 'Jeux de Rôle':'Mah-Jong' }}
                </p>
                <p class="m-0">8 Mai 2020 à 18:00</p>
            </div>
            <p class="event-name m-0">Donjon & Dragon : Vous allez mourrir !</p>
        </div>
        <div id="body-event{{ loop.index }}" class="collapse">
            <p class="m-3 event-short-desc text-wrap">Iamque lituis cladium concrepantibus internarum non celate ut antea turbidum
                saeviebat
                ingenium a veri consideratione detortum et nullo inpositorum vel conpositorum fidem
                sollemniter inquirente nec a societate noxiorum insontes velut exturbatum e
                iudiciis fas omne discessit discernente.
            </p>
            <div class="info-body-event d-flex justify-content-between">
                <p class="m-0 ml-3"><i class="fas fa-home"></i> Foyer des Séniors</p>
                <p class="m-0 mr-3"><i class="fas fa-users"></i> 4 place(s) restantes</p>
            </div>
            <a href="" class="btn btn-outline-secondary m-3">Je m'inscris !</a>
        </div>
        <div class="see-more card-footer btn text-center text-light bg-primary" data-toggle="collapse"
             data-target="#body-event{{ loop.index }}">
            Voir
        </div>
    </div>
{% endfor %}

