<div class="d-flex justify-content-center align-items-center m-1 m-5">
    <img class="logo-ajtl m-2" src="{{ asset('build/logo-ajtl.png') }}" alt="AJTL logo">
    <h1 class="ml-3 text-primary main-heading">Association des Jeux pour Tous du Loiret</h1>
</div>
