<div class="d-flex justify-content-center align-items-center m-1 mb-5">
    <img class="logo-ajtl m-2" src="{{ asset('build/logo-ajtl.png') }}" alt="AJTL logo">
    <h1 class="text-primary-dark main-heading">Association des Jeux pour Tous du Loiret</h1>
</div>
