{% extends 'layout.html.twig' %}

{% block body %}

    <div class="col-md-7 p-4 text-center">
        <h2 class="m-3 text-primary-dark">Prochains Événements</h2>
        {% include 'home/_sidebar_events.html.twig' %}
    </div>
{#    <div class="col-md-3 bg-primary-dark m-5">#}
{#        {% include 'home/_main_content.html.twig' %}#}
{#    </div>#}

{% endblock %}
