$primary: #8db8c1;
$primary-dark: #034C5F;
//$secondary: #eebaae;
$secondary: darken(#F9C4BA, 6%);
$secondary-dark: #ee6457;
$lighter: #fcf1f0;

// Usable pallet
$usable1: #9e4c4c;

// Overwrite Bootstrap theme
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "secondary-dark": $secondary-dark,
    "lighter": $lighter,
);
