//  Theme 1
//$primary: #8db8c1;
//$primary-dark: #034C5F;
//$secondary: darken(#F9C4BA, 4%);
//$background: #fcf1f0;

//  Theme 2
$primary: #97c1df;
$primary-dark: #2d6790;
$secondary: #fdf181;
$background: #fcfaf6;

//  Usable pallet
$usable1: #9e4c4c;

//  Bootstrap theme overwrite
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "background": $background,
);
