$primary: #0085b5;
$primary-dark: #1D5E98;
$secondary: #f9f871;
$background: #FCFAFC;

$borderLight: #d8d8d8;

// $primary: #1D5E98;
// $secondary: #F2E750;
// $accent: #D94862;
// $neutral-light: #FCFAFC;
// $neutral-dark: #21293A;

//  Bootstrap custom classes
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "background": $background,
);
