$primary: #2E6095;
$primary-dark: #1D366D;
$secondary: #B14145;
$lighter: #F8F1E0;

// Activities' Colors
$roleplay: #9e4c4c;

// Overwrite Bootstrap theme
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "lighter": $lighter,
);
