{% extends 'layout.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <div class="container text-primary-dark">
        <h1 class="mt-5 mb-0 text-center text-lg-left">Galerie</h1>
        <hr class="mt-2 mb-5">

        <div class="row text-lg-left">

            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/" alt="">
            </div>
            <div class="d-block mb-4 h-100 mx-auto col-lg-6 col-12">
                    <img class="mx-auto img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/" alt="">
            </div>
        </div>
    </div>
{% endblock %}
