.activities {
  h1 {
    font-size: 36px;
  }
  .referent-pic {
    height: 150px;
    width: 150px;
  }
  p {
    font-size: 25px;
  }
}

.activity-image {
  object-fit: cover;
  min-height: 200px;
  max-height: 400px;
  width: 100%;
}
