//------- Top banner -------//
.main-heading {
  font-size: 36px;
}
.logo-ajtl {
  height: 8rem;
  border-radius: 50%;
}
.logo-olivet {
  height: 100px;
  width: 350px;
}

//------- Sidebar events -------//
.event-info p {
  font-size: 15px;
}

//------- Home infos -------//
.home-info-contact {
  p, a {
    font-size: 20px;
  }
  i.fa-envelope {
    font-size: 23px;
  }
  i.fa-phone {
    font-size: 20px;
  }
}

//------- Partners -------//
.partners {
  img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    object-fit: contain;
  }
  .partner-infos p{
    margin:0;
    font-size: 16px;
  }
}
