<footer class="mt-5 p-4 d-flex justify-content-around align-items-center bg-primary-dark text-light text-center">
    <div>
        <h3>AJTL</h3>
        <ul class="m-0">
            <li>Olivet - Parc du Poutyl</li>
            <li>
                <a class="text-light" href="{{ path('home') ~ '#location' }}">
                    <i class="mr-1 fas fa-map-marker-alt"></i>Foyer des Seniors</a>
            </li>
            <li></li>
        </ul>
    </div>

    <div>
        <h3>Contact</h3>
        <ul class="m-0">
            <li><i class="mr-1 fas fa-phone-alt"></i> 06 16 56 94 69</li>

            <li><a class="text-light" href=""><i class="mr-1 far fa-envelope"></i> <u>Email</u></a></li>
        </ul>
    </div>

    <a class="text-light d-inline-flex align-items-center" target="_blank"
       href="https://www.facebook.com/AJTL-Association-de-Jeux-pour-Tous-du-Loiret-205061369513133/">
        <i class="mr-2 fab fa-2x fa-facebook"></i> Rejoignez nous sur Facebook
    </a>
</footer>
