<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a class="navbar-left text-light" href="{{ path('home') }}">
        <img class="logo-ajtl" src="{{ asset('build/logo-ajtl.jpg') }}" alt="AJTL logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item text-light">
                <a class="nav-link text-light" href="#">Événements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Présentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light text-nowrap" href="#">Nos Activités</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle text-nowrap" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nous Rejoindre
                </a>
                <div class="dropdown-menu bg-secondary border-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-light text-center" href="#">Inscription</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light text-center" href="#">Plan</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light text-center" href="#">Contact</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Galerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Partenaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Forum</a>
            </li>
        </ul>
    </div>
</nav>
