<div class="d-flex justify-content-center align-items-center">
    <img class="logo-ajtl m-2" src="{{ asset('build/logo-ajtl.jpg') }}" alt="AJTL logo">
    <h1 class="text-primary-dark main-heading">Association des Jeux pour Tous du Loiret</h1>
</div>