<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Association des Jeux pour Tous du Loiret">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block layout %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
