{% extends 'base.html.twig' %}

{% block title %}AJTL{% endblock %}
{% block stylesheets %}{% endblock %}

{% block layout %}

    {% block navbar %}
        {% include 'common/_navbar.html.twig' %}
    {% endblock %}

    {% include 'common/_flash-messages.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'common/_footer.html.twig' %}
    {% endblock %}

{% endblock %}

{% block javascripts %}{% endblock %}