{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}
<div class="container text-primary-dark">
    <h1 class="mt-5 mb-0 text-center text-lg-left">Dashboard</h1>
    <hr class="mt-2 mb-5">
</div>
{% endblock %}
