{% extends 'layout.html.twig' %}

{% block title %}Adhésion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 text-primary-dark">Adhésion au club</h1>
        <hr class="mt-2 mb-5">
        <img class="activity-image rounded" src="{{ asset('build/taverne.jpeg') }}" alt="">
    </div>
    <div class="container text-primary-dark">
        <div class="d-flex flex-wrap">
            <a href="" target="_blank" class="my-3 mr-3 btn btn-secondary text-primary-dark"><i class="mr-2 fas fa-file-invoice"></i> Inscription</a>
            <a href="" target="_blank" class="my-3 btn btn-secondary text-primary-dark"><i class="mr-2 fas fa-book"></i> Règlement intérieur</a>
        </div>
        <p>Télécharger puis remplissez le document d'inscription. <br>
            Les documents ainsi que le paiement pour l'adhésion au club se fait en main propre.
        </p>
        <div class="my-5">
            <h2 class="text-primary-dark">Tarifs</h2>
{# Todo: variables price (saison, demi saison ...)#}
            <p><u>Pour la saison :</u> 15 € (hors licence FédéGN et FFMJ si participation aux tournois)</p>
            <p><u>Pour la demi-saison (à partir de mars) :</u> 7 €</p>
            <p><u>Pour les autres membres d'une même famille :</u> 7 €</p>
            <p><u>Pour un membre d'une association <a class="text-primary" href="{{ path('home') ~ '#partners' }}">partenaire</a> :</u> 7 €</p>
        </div>
    </div>
{% endblock %}
