{% extends 'layout.html.twig' %}

{% block title %}Adhésion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 text-primary-dark">Adhésion</h1>
        <hr class="mt-2 mb-5">
        <img class="activity-image rounded" src="{{ asset('build/taverne.jpeg') }}" alt="">
    </div>
    <div class="container text-primary-dark">
        <div class="d-flex flex-wrap">
        {# Todo #}
        {# {% if toto is not null %} #}
            <a href="" target="_blank" class="my-3 mr-3 btn btn-secondary text-primary-dark"><i class="mr-2 fas fa-file-download"></i> Fiche d'Inscription</a>
        {# {% endif %} #}
            <a href="" target="_blank" class="my-3 btn btn-secondary text-primary-dark"><i class="mr-2 fas fa-book"></i> Règlement intérieur</a>
        </div>
        <p>Télécharger puis remplissez la fiche d'inscription. <br>
           La remise des documents et de la cotisation pour l'adhésion se fait en main propre <a href="{{ path('home') ~ '#location' }}"><u>au club</u></a>. <br>

        </p>
        <div class="my-5">
            <h2 class="text-primary-dark">Tarifs</h2>
{# Todo: variables price (saison, demi saison ...)#}
            <p><u>Pour la saison :</u> 15 € (hors licence FédéGN et FFMJ si participation aux tournois)</p>
            <p><u>Pour la demi-saison (à partir de mars) :</u> 7 €</p>
            <p><u>Pour les autres membres d'une même famille :</u> 7 €</p>
            <p><u>Pour un membre d'une association <a class="text-primary" href="{{ path('home') ~ '#partners' }}">partenaire</a> :</u> 7 €</p>
        </div>
    </div>
{% endblock %}
