@import "../helpers/colors";

.nav-item {
  font-weight: 400;
  margin: 0 6px 0 6px;
}

.logo-ajtl {
  height: 6rem;
  border-radius: 50%;
}

//Todo: change navbar toggler color
.custom-toggler.navbar-toggler {
  border-color: blue;
  //doesnt work
}

.dropdown-item:hover {
  background-color: lighten($secondary, 8%);
}
